html
	// i18n
	+_('Blog', '博客', 'zh_cn')
	+_('Albums', '相册', 'zh_cn')
	+_('Categories', '分类', 'zh_cn')
	+_('Archive', '归档', 'zh_cn')
	+_('Links', '链接', 'zh_cn')
	+_('About', '关于', 'zh_cn')
	+_('Recent', '最新文章', 'zh_cn')
	head
		+mobile_meta()
		meta(name="keywords", content=site.configs.keywords.escaped)
		meta(name="description", content=site.raw_content.escaped)
		block title
			title= request.args.s or post.title or tags.join('+') or category.title or site.title
		+get_resource("blog_basic.css")
		+load('pure#0.5.0')
		+load('/service/static_3rd/staticfile/ajax/libs/pure/0.5.0/grids-responsive-min.css')
		+load('/template/style.scss')
	body:.body_container
		#header
			.site-name
				h1.hidden= site.title
				a#logo(href='/')= site.title
				p.description= site.raw_content
			#nav-menu
				+a_with_selected('/', _('Blog'), dom_id='nav_blog')
				if has('categories')
					+a_with_selected('/categories', _('Categories'))
				+a_with_selected('/archive', _('Archive'))
				for p in get_data(status='pages', type='post', limit=5, with_page=False, sort='position')
					+a_with_selected('/'+p.path, _(p.filename.split('.')[0].title()))
				if has('images')
					a(href='/album')= _('Albums')
					if not has('posts')
						+redirect('/album')

		#layout.pure-g
			.pure-u-1.pure-u-md-17-24:.content_container
				block content

			.pure-u-7-24:#sidebar
				.widget
					form#search
						input#search_value.text(placeholder="Search",type="text",value=request.args.s, onkeyup="if (event.keyCode == 13) search();")
				.widget
					.widget-title= _('Recent')
					newess_posts = get_data(path='/', type='post', limit=8, sort='desc', with_page=False)
					ul
						for post in newess_posts
							li
								a(href=post.url, title=post.title)= post.title

		#footer= '© 2015 '
			a(href='/', real="nofollow")= site.title
			.
			

		+load('/template/duoshuo.css')

		script
			function search() {
				if (document.getElementById('search_value').value) {
				  location.href = 'http://' + location.host + '?s=' + document.getElementById('search_value').value;
				}
				return false;
			 }