extends base

block title
	title= post.title + " - " + site.title

block content
		article.post.post-page
			header
				h1.post-title= post.title
			date.post-meta= post.date.format('%B %d, %Y')
			section.post-content= post.content
			if post.tags
					footer
						.tags
							for tag in post.tags
								a(href="/tag/{{tag}}")= tag
				
			include include/comments.jade

