extends base

block title
	title= post.title + " - " + site.title

block content
	.post.post-page
		h1.post-title= post.title
		.post-meta= post.date.format('%B %d, %Y')
		.post-content= post.content
		if post.tags
			.tags
				for tag in post.tags
					a(href="/tag/{{tag}}")= tag

		include include/comments.jade
	script
		document.getElementById("nav_blog").className = 'current'
